<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>akljsfhg</h1>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io('/bedding');
    const user_id = document.cookie.split('=')[1];
    socket.emit('join', user_id);
    socket.on('joinBidRoom', (payload) => {
      socket.emit('join', payload);
    });
  </script>
</html>
